/*-----Navbar------*/
.MuiAppBar-root{
  background-color: #333a3f !important;
}

.MuiButton-root{
  text-transform: capitalize !important;
}

.search-btn{
  background-color: #6c757d !important;
}

/*-----Navbar Ends------*/
.MuiContainer-root{
  max-width: 100% !important;
  padding: 0 !important;
  background-color: #282b34;
  color: white;
  min-height: 92vh;
} 

.MuiCardContent-root{
  background-color: #282b34;
  color: white;
}

/*detail*/
.background-detail{
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #020b16;
}

.slick-slide{
  margin: 15px;
}



